{% extends "base.html" %}

{% block content %}

    {%if form.errors %}
        <p class='error'><b><em style='color:red'>Sorry, Passwards do not match</em></b></p>
    {% endif %}
    
    <h3>Please Type the New Passward and Confirm It</h3>

    <form action="." method="post">{% csrf_token %}
        <table border = 0>
            <tr>
                <th>User ID: </th>
                <td>{{ form.submitter }}</td>
            </tr>
            <tr>
                <th>
                <label for="password">New Password:</label>
                </th>
                <td>
                <input type="password" name="npassword" value="" id="npassword">
                </td>
            </tr>

            <tr>
                <th>
                <label for="password">Confirm Password:</label>
                </th>
                <td>
                <input type="password" name="cpassword" value="" id="cpassword">
                </td>
            </tr>
            <tr>
                <td>
                <input type="submit"  value="Submit" />
                </td>
                <td>
                <input type="submit" name='cancel' value="Cancel" />
                </td>
                <td>
                <input type="submit" name='check0' value="Change User" />
                </td>
            </tr>

                <input type="hidden" name="next" value = "{{ next|escape }}" />
        </table>
</form>


{% endblock %}

