{% block links %}

<h3 style='font-size:80%'>Multiple Obsid Approval</h3>

<table border=0>
    <tr>
        <td>
        If you have multiple entries to approve (as is), use:  
        </td>
        <td>
        <a href="{{ durl }}/ocat_express">Express Approval Page</a>.
        </td>
    </tr>
<!--
    <tr>
        <td>
        If you like to see the peer review report<br /> and proposal of this observation 
        </td>
        <td>
        <a href="https://icxc.cfa.harvard.edu/cgi-bin/cdo/review_report/disp_report.cgi?{proposal_number}">
        Peer Review Report</a>.
        </td>
    </tr>
    <tr>
        <td>
        If you like to check/search other observations 
        </td>
        <td>
        <a href="https://cxc.cfa.harvard.edu/cgi-bin/target_search/search.html">Chandra User Observation Search Page</a>.
        </td>
    </tr>
-->
</table>


{% endblock %}
