{% comment %} Time Constraints Rank 6 case. {% endcomment %}

<tr>
    <td> 1 </td>
    <td>{{ gen_name.window_constraint1 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month1 }}</td>
    <td>{{ gen_name.tstart_date1 }}</td>
    <td>{{ gen_name.tstart_year1 }}</td>
    <td>{{ gen_name.tstart_time1 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month1 }}</td>
    <td>{{ gen_name.tstop_date1 }}</td>
    <td>{{ gen_name.tstop_year1 }}</td>
    <td>{{ gen_name.tstop_time1 }}</td>
</tr>
<tr>
    <td> 2 </td>
    <td>{{ gen_name.window_constraint2 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month2 }}</td>
    <td>{{ gen_name.tstart_date2 }}</td>
    <td>{{ gen_name.tstart_year2 }}</td>
    <td>{{ gen_name.tstart_time2 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month2 }}</td>
    <td>{{ gen_name.tstop_date2 }}</td>
    <td>{{ gen_name.tstop_year2 }}</td>
    <td>{{ gen_name.tstop_time2 }}</td>
</tr>
<tr>
    <td> 3 </td>
    <td>{{ gen_name.window_constraint3 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month3 }}</td>
    <td>{{ gen_name.tstart_date3 }}</td>
    <td>{{ gen_name.tstart_year3 }}</td>
    <td>{{ gen_name.tstart_time3 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month3 }}</td>
    <td>{{ gen_name.tstop_date3 }}</td>
    <td>{{ gen_name.tstop_year3 }}</td>
    <td>{{ gen_name.tstop_time3 }}</td>
</tr>
<tr>
    <td> 4 </td>
    <td>{{ gen_name.window_constraint4 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month4 }}</td>
    <td>{{ gen_name.tstart_date4 }}</td>
    <td>{{ gen_name.tstart_year4 }}</td>
    <td>{{ gen_name.tstart_time4 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month4 }}</td>
    <td>{{ gen_name.tstop_date4 }}</td>
    <td>{{ gen_name.tstop_year4 }}</td>
    <td>{{ gen_name.tstop_time4 }}</td>
</tr>
<tr>
    <td> 5 </td>
    <td>{{ gen_name.window_constraint5 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month5 }}</td>
    <td>{{ gen_name.tstart_date5 }}</td>
    <td>{{ gen_name.tstart_year5 }}</td>
    <td>{{ gen_name.tstart_time5 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month5 }}</td>
    <td>{{ gen_name.tstop_date5 }}</td>
    <td>{{ gen_name.tstop_year5 }}</td>
    <td>{{ gen_name.tstop_time5 }}</td>
</tr>
<tr>
    <td> 6 </td>
    <td>{{ gen_name.window_constraint6 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month6 }}</td>
    <td>{{ gen_name.tstart_date6 }}</td>
    <td>{{ gen_name.tstart_year6 }}</td>
    <td>{{ gen_name.tstart_time6 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month6 }}</td>
    <td>{{ gen_name.tstop_date6 }}</td>
    <td>{{ gen_name.tstop_year6 }}</td>
    <td>{{ gen_name.tstop_time6 }}</td>
</tr>
