{% comment %} Time Constraints Rank 1 case. {% endcomment %}

<tr>
    <td> 1 </td>
    <td>{{ gen_name.window_constraint1 }} </td>
    <th><a href="#" onClick="WindowOpen(tstart); return false;">Start</a></th>
    <td>{{ gen_name.tstart_month1 }}</td>
    <td>{{ gen_name.tstart_date1 }}</td>
    <td>{{ gen_name.tstart_year1 }}</td>
    <td>{{ gen_name.tstart_time1 }}</td>
</tr>
<tr>
    <th>&#160;</th>
    <th>&#160;</th>
    <th><a href="#" onClick="WindowOpen(tstop); return false;">Stop</a></th>
    <td>{{ gen_name.tstop_month1 }}</td>
    <td>{{ gen_name.tstop_date1 }}</td>
    <td>{{ gen_name.tstop_year1 }}</td>
    <td>{{ gen_name.tstop_time1 }}</td>
</tr>
