
{% comment %} this is a password change page {% endcomment %}

{% block content %}

    {%ifnotequal pcomment '' %}

{% comment %} display the error message {% endcomment %}

        <h3 style='color:red;'>{{ pcomment }}</h3>

    {% endifnotequal %}

{% comment %} the main part {% endcomment %}
    
    <h3>Please Type the Current Password, the New Passward and Confirm It</h3>

    <table border = 0>
        <tr>
            <th>User ID: </th>
            <th style='text-align:center;background-color:#7FFFD4;'>{{ submitter }}</th>
        <tr>

        <tr>
            <th>
            <label for="password">Old Password:</label>
            </th>
            <td>
            <input type="password" name="password" value="" id="password">
            </td>
        </tr>

        <tr>
            <th>
            <label for="password">New Password:</label>
            </th>
            <td>
            <input type="password" name="npassword" value="" id="npassword">
            </td>
        </tr>

        <tr>
            <th>
            <label for="password">Confirm Password:</label>
            </th>
            <td>
            <input type="password" name="cpassword" value="" id="cpassword">
            </td>
        </tr>
        <tr>
            <td>
            <input type="submit"  value="Submit" />
            </td>
            <td>
            <input type="submit" name='cancel' value="Cancel" />
            </td>
            <td>
            <input type="submit" name='check3' value="Change User" />
            </td>
        </tr>

{% comment %} make sure that it goes back to password change section  {% endcomment %}

            <input type="hidden" name="check0" value = "Change Password" />

    </table>

{% endblock %}

