{% block editable_entry   %}

<td class='bold'>
    {% include "schedule_submitter/pull_down_name.html"  with p1=ent.name_id  p2=contact_list  p3=ent.user %}
</td>



<td class='bold'>
    {% include "schedule_submitter/month_pull_down.html"  with p1=ent.start_month_id  p2=ent.start_month %}
</td>
{% ifequal ent.color_st 'd' %}
    <td class='bold' style="background-color:aqua;">
{% else %}
    <td class='bold'>
{% endifequal %}

{%comment %} depending on the month, the choice of the day list changes. {% endcomment %}

    {% ifequal ent.dind_st '31' %}
        {% include "schedule_submitter/pull_down.html"  with p1=ent.start_day_id  p2=day_list  p3=ent.start_day %}
    {% endifequal %}

    {% ifequal ent.dind_st '30' %}
        {% include "schedule_submitter/pull_down.html"  with p1=ent.start_day_id  p2=day_list2  p3=ent.start_day %}
    {% endifequal %}

    {% ifequal ent.dind_st '29' %}
        {% include "schedule_submitter/pull_down.html"  with p1=ent.start_day_id  p2=day_list3  p3=ent.start_day %}
    {% endifequal %}

    {% ifequal ent.dind_st '28' %}
        {% include "schedule_submitter/pull_down.html"  with p1=ent.start_day_id  p2=day_list4  p3=ent.start_day %}
    {% endifequal %}
</td>
<td class='bold'>
    {% include "schedule_submitter/pull_down.html"  with p1=ent.start_year_id  p2=year_list  p3=ent.start_year %}
</td>



<td class='bold'>
    {% include "schedule_submitter/month_pull_down.html" with p1=ent.finish_month_id  p2=ent.finish_month %}
</td>
{% ifequal ent.color_en 'd' %}
    <td class='bold' style="background-color:aqua;">
{% else %}
    <td class='bold'>
{% endifequal %}

{%comment %} depending on the month, the choice of the day list changes. {% endcomment %}

    {% ifequal ent.dind_en '31' %}
        {% include "schedule_submitter/pull_down.html" with p1=ent.finish_day_id  p2=day_list  p3=ent.finish_day %}
    {% endifequal %}

    {% ifequal ent.dind_en '30' %}
        {% include "schedule_submitter/pull_down.html" with p1=ent.finish_day_id  p2=day_list2  p3=ent.finish_day %}
    {% endifequal %}

    {% ifequal ent.dind_en '29' %}
        {% include "schedule_submitter/pull_down.html" with p1=ent.finish_day_id  p2=day_list3  p3=ent.finish_day %}
    {% endifequal %}

    {% ifequal ent.dind_en '28' %}
        {% include "schedule_submitter/pull_down.html" with p1=ent.finish_day_id  p2=day_list4  p3=ent.finish_day %}
    {% endifequal %}
</td>
<td class='bold'>
    {% include "schedule_submitter/pull_down.html"  with p1=ent.finish_year_id  p2=year_list  p3=ent.finish_year %}
</td>



<td class='bold'>
    <!-- <input type='text' name={{ ent.assigned_id }} size=10 maxlength=20 value= {{ ent.assigned }}> -->
    &#160;
</td>

<td>
<input type='submit' name='check' value='Update'>
</td>

{% endblock %}

