{% block main_table   %}
    <td><input type='submit' name={{ year }} value='Jan'></td>
    <td><input type='submit' name={{ year }} value='Feb'></td>
    <td><input type='submit' name={{ year }} value='Mar'></td>
    <td><input type='submit' name={{ year }} value='Apr'></td>
    <td><input type='submit' name={{ year }} value='May'></td>
    <td><input type='submit' name={{ year }} value='Jun'></td>
    <td><input type='submit' name={{ year }} value='Jul'></td>
    <td><input type='submit' name={{ year }} value='Aug'></td>
    <td><input type='submit' name={{ year }} value='Sep'></td>
    <td><input type='submit' name={{ year }} value='Oct'></td>
    <td><input type='submit' name={{ year }} value='Nov'></td>
    <td>Dec</td>
{% endblock %}

