[mysqld]
datadir=/data/mta4/CUS/www/Usint/Ocat/ocatsite/mysql
socket=/data/mta4/CUS/www/Usint/Ocat/ocatsite/mysql.sock
user=cus
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/data/mta4/CUS/www/Usint/Ocat/ocatsite/mysqld.log
pid-file=/data/mta4/CUS/www/Usint/Ocat/ocatsite/mysqld.pid
