{% extends "base.html" %}

{% comment %}

This is Parameter Check Page  for the case that the submitted obsid is not in the database.

{% endcomment %}


{% comment %}header section {% endcomment %}
{% block title %}
{{ "Target Parameter Update Status Form"  }}
{% endblock %}

{% comment %} main section {% endcomment %}

{% block content %}

<h1 style='padding-bottom:40px;text-align:left'>Target Parameter Update Status Form</h1>

<h2 style='color:red'>If you see this page, something is quite wrong. Please contact tisobe@cfa.harvard.edu. </h2>

<div style='padding-bottom:600px'>
</div>

    
{%include 'chkupdata/footer.html' %}
    


{% endblock %}
